.env
env/
*env/
__pycache__/

cert.pem
key.pem

session_data/

.DS_Store

*.db

.vscode/

_local/

00-CATALOGO/*
00-TABLAS/*
00-COLUMNAS/*
00-BACKUP/*
00-ENTITY-INDEXER/*
sqlagent/test.py

armado_de_tablas.py
llama-index-quickstart.py
test_concurrency.py
webapi/sqlagent/auxiliar.py
